<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="id">Id</label>
          <input type="text" [(ngModel)]="ipo.id" 
            class="form-control" 
            id="id" 
            name="id" 
            placeholder="Enter id"
        ><br>
        </div>
    

        <div class="form-group">
          <label for="cname">Company Name</label>
          <input type="text" [(ngModel)]="ipo.cname" 
            class="form-control" 
            id="cname" 
            name="cname" 
            placeholder="Enter Company name"
            ><br>
        </div>
        


        
     
        <div class="form-group">
          <label for="turnover">Price Per Share</label>
          <input type="text" [(ngModel)]="ipo.ppshare" 
            class="form-control" 
            id="turnover" 
            name="turnover" 
            placeholder="Enter the price per share"
           ><br>
        </div>
     

        <div class="form-group">
          <label for="ceo">Total Shares</label>
          <input type="text" [(ngModel)]="ipo.totalshares" 
            class="form-control" 
            id="ceo" 
            name="ceo" 
            placeholder="Enter total shares"
            ><br>
        </div>

        <div class="form-group">
            <label for="bod">Open Time</label>
            <input type="text" [(ngModel)]="ipo.opentime" 
              class="form-control" 
              id="bod" 
              name="bod" 
              placeholder="Enter Opening time "
              ><br>
          </div>

          <div class="form-group">
            <label for="stockex">Remarks</label>
            <input type="text" [(ngModel)]="ipo.remarks" 
              class="form-control" 
              id="stockex" 
              name="stockex" 
              placeholder="Enter Remarks.."
              ><br>
          </div>

          
       
        <button type="submit" 
          class="btn btn-info">Submit</button>
      </form>
    </div></div>


